body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    width: 100%;
}

.header-logo {
font-size: 24px;
color: #f9faf8;
flex: 1 0 auto;
padding: 8px;
font-style: italic;
font-weight: bold;
}

.header-links {
font-size: 18px;
color: #E5E7EB;
padding: 10px;
text-decoration: none;
flex: 0 1 auto
}

.intro {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    width: 100%;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    flex: 1;
    margin: 20px 10px;
}

.grayBox {
    font-size: 18px;
    color: #E5E7EB;
    background-color: darkgray;
    padding: 100px 75px;
    flex: 1;
    margin: 20px 10px;
    text-align: center;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
    margin: 10px;
}

.topButton {
    height: 50px;
    width: 300px;
    color: #3882F6;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: medium;
    flex: 1;
    margin: 10px;
    align-self: center;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.infocontainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
    width: 100%
}

.info {
    border-style: solid;
    border-color:#3882F6;
    padding: 50px;
    border-radius: 20px;
}

.captioncontainer {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 25px;
}

.testimonialBlock {
    background-color: #E5E7EB;
    padding: 20px;
    
}

.testimonial {
    color: #1F2937;
    font-style: italic;
    font-size: 30px;
    padding: 0 45px 0 45px;
}

.customer {
    color: #1F2937;
    font-weight: bold;
    font-size: 18px;
    text-align: end;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 20px 40px;
    margin: 90px 110px 90px 110px;
    background-color: #3882F6;
    border-radius: 20px;
}

.actionText {
    color: #f9faf8;
    text-align: start;
    width: 400px;
    flex-grow: 1;
}

.bottomButton {
    height: 25px;
    width: 150px;
    border-style: solid white;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
}

.footer {
    background-color: #1F2937;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
}